* {
  outline: none;
}
.cards-container {
  width: 54em;
  height: 27em;

  margin: 0 auto;
  position: relative;
}
.card-front-side {
  position: absolute;
  width: 36.7em;
  right: 0;
  height: 23.1em;
}
.card-front-layers {
  position: absolute;
  overflow: hidden;
  border-radius: 1em;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  box-shadow: 7px 0px 8px 0px rgb(0 0 0 / 12%);
  background-color: rgb(93, 63, 128);
}

.front-element-layers {
}

.animation-move-top {
  z-index: 3 !important;
  left: 0px !important;
  top: 39px !important;
}
